services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    privileged: false
    runtime: nvidia
    networks:
      - animekone_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - "./data/jellyfin:/config"
      - "${CONTENT_PATH}/Series:/data/tvshows"
      - "${CONTENT_PATH}/Movies:/data/movies"
    ports:
      - 8096:8096
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    networks:
      - animekone_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
      - WEBUI_PORT=8080
    volumes:
      - "./data/qbittorrent:/config"
      - "${DOWNLOAD_PATH}:/downloads"
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    networks:
      - animekone_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
    volumes:
      - "./data/prowlarr:/config"
    ports:
      - 9696:9696
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    networks:
      - animekone_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
    volumes:
      - "./data/sonarr:/config"
      - "${CONTENT_PATH}/Series:/tv"
      - "${DOWNLOAD_PATH}:/downloads"
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    networks:
      - animekone_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
    volumes:
      - "./data/radarr:/config"
      - "${CONTENT_PATH}/Movies:/movies"
      - "${DOWNLOAD_PATH}:/downloads"
    ports:
      - 7878:7878
    restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - "./data/bazarr:/config"
      - "${CONTENT_PATH}/Series:/tv"
      - "${CONTENT_PATH}/Movies:/movies"
    ports:
      - 6767:6767
    restart: unless-stopped
#  salkkarikone:
#    build:
#      context: ../salkkarikone
#      dockerfile: Dockerfile
#    container_name: salkkarikone
#    networks:
#      - animekone_network
#    environment:
#      - PUID=1000
#      - PGID=1000
#      - TZ=Europe/Helsinki
#      - sftp_host=berry.seedhost.eu
#      - sftp_port=14242
#      - sftp_user=juha
#      - "sftp_password=${SFTP_PASSWORD}"
#      - sftp_path=/home7/naketus/downloads/torrents/_SARJAT
#      - sftp_file_pattern=Salatut*.mp4
#    volumes:
#      - "${CONTENT_PATH}/Series/Salatut Elämät:/downloads"
#    restart: unless-stopped

networks:
  animekone_network:
    driver: bridge